*{
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: red;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.firstpart{
    width: 50%;
    padding: 5%;
}
.firstpart img{
    width: 350px;
    height: 350px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(purple , blue);
    padding: 10px 20px;
    border-radius: 5px;
}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.thirdpart{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-items{
    width: 40%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    
}
#expid1{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
#expid2{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: small;
}