*{
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: red;
}
section{
    display: flex;
}
.firstpart{
    width: 50%;
    padding-left: 5%;
}
.firstpart img{
    width: 350px;
    height: 350px;
    float: right;
    margin: auto;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(purple , blue);
    padding: 10px 20px;
    border-radius: 5px;
}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}